<div class="col-md-3 col-sm-4 col-6 grid-item electronics essentials">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/1.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Soft Sound Maker</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$21.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 8 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item electronics sale">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/2.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Phone Sound Louder</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <ins class="new-price">$199.00</ins><del class="old-price">$210.00</del>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:40%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 1 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item electronics">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/3.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Phone Sound Louder</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$66.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:80%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 31 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item electronics">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/4.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Electronics</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Phone Sound Maker Third Kind</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$147.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 6 reviews )</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-4 col-6 grid-item bags">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/5.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Bags & Backpack</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Mackintosh Poket Backpack</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$76.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 4 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item accessories sale">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/6.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Accessories</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Ornament of inside of a room</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$74.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:40%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 1 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item essentials">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/7.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Essentials</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Water Bottle</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$119.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:70%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 8 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item accessories essentials">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/8.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Essentials</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Blur Handphone Case</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$33.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 8 reviews )</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-4 col-6 grid-item bags">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/9.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Bags & Backpack</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Women’s Poket backpack</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <ins class="new-price">$215.32</ins><del class="old-price">$230.22</del>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 10 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item bags">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/10.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Bags & Backpack</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Best Dark blue pedestrian bag</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$611.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 5 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item bags">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/11.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Bags & Backpack</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Men’s Poket backpack</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$121.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:90%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 8 reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-6 grid-item bags sale">
    <div class="product text-center">
        <figure class="product-media">
            <a href="demo6-product.html">
                <img src="images/demos/demo6/products/12.html" alt="product" width="280"
                    height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                    data-target="#addCartModal" title="Add to cart"><i
                        class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                    View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3cols.html">Bags & Backpack</a>
            </div>
            <h3 class="product-name">
                <a href="demo6-product.html">Mackintosh Poket backpack</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <ins class="new-price">$98.00</ins><del class="old-price">$129.00</del>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="demo6-product.html" class="rating-reviews">( 8 reviews )</a>
            </div>
        </div>
    </div>
</div>