<div class="product-wrap">
    <div class="product">
        <figure class="product-media">
            <a href="product.html">
                <img src="images/shop/16.html" alt="product" width="280" height="315">
            </a>
            <div class="product-label-group">
                <label class="product-label label-new">new</label>
            </div>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
                    title="Add to cart"><i class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3col.html">bags</a>
            </div>
            <h3 class="product-name">
                <a href="product.html">Coast Pool Comfot Jacket</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <ins class="new-price">$199.00</ins><del class="old-price">$210.00</del>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="#" class="rating-reviews">( <span class="review-count">6</span> reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product">
        <figure class="product-media">
            <a href="product.html">
                <img src="images/shop/11.html" alt="product" width="280" height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
                    title="Add to cart"><i class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3col.html">shoes</a>
            </div>
            <h3 class="product-name">
                <a href="product.html">Fashionable Hooded Coat</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$35.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="#" class="rating-reviews">( <span class="review-count">6</span> reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product">
        <figure class="product-media">
            <a href="product.html">
                <img src="images/shop/6.html" alt="product" width="280" height="315">
            </a>

            <div class="product-label-group">
                <label class="product-label label-sale">27% off</label>
            </div>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
                    title="Add to cart"><i class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3col.html">clothings</a>
            </div>
            <h3 class="product-name">
                <a href="product.html">Women's Fashion Handbag</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <span class="price">$19.00</span>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="#" class="rating-reviews">( <span class="review-count">6</span> reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product">
        <figure class="product-media">
            <a href="product.html">
                <img src="images/shop/17.html" alt="product" width="280" height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
                    title="Add to cart"><i class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3col.html">shoes</a>
            </div>
            <h3 class="product-name">
                <a href="product.html">Fashion Padded Jacket</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <ins class="new-price">$98.00</ins><del class="old-price">$210.00</del>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="#" class="rating-reviews">( <span class="review-count">6</span> reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product">
        <figure class="product-media">
            <a href="product.html">
                <img src="images/shop/18.html" alt="product" width="280" height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
                    title="Add to cart"><i class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3col.html">bags</a>
            </div>
            <h3 class="product-name">
                <a href="product.html">Cavin Fashion Suede Handbag</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <ins class="new-price">$98.00</ins><del class="old-price">$210.00</del>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="#" class="rating-reviews">( <span class="review-count">6</span> reviews )</a>
            </div>
        </div>
    </div>
</div>
<div class="product-wrap">
    <div class="product">
        <figure class="product-media">
            <a href="product.html">
                <img src="images/shop/19.html" alt="product" width="280" height="315">
            </a>
            <div class="product-action-vertical">
                <a href="#" class="btn-product-icon btn-cart" data-toggle="modal" data-target="#addCartModal"
                    title="Add to cart"><i class="d-icon-bag"></i></a>
                <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                    class="d-icon-heart"></i></a>
            </div>
            <div class="product-action">
                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
            </div>
        </figure>
        <div class="product-details">
            <div class="product-cat">
                <a href="shop-grid-3col.html">clothings</a>
            </div>
            <h3 class="product-name">
                <a href="product.html">Women's Fashion Hood</a>
            </h3>
            <div translate="no" class="product-price notranslate">
                <ins class="new-price">$98.00</ins><del class="old-price">$210.00</del>
            </div>
            <div class="ratings-container">
                <div class="ratings-full">
                    <span class="ratings" style="width:100%"></span>
                    <span class="tooltiptext tooltip-top"></span>
                </div>
                <a href="#" class="rating-reviews">( <span class="review-count">6</span> reviews )</a>
            </div>
        </div>
    </div>
</div>