@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap')

@charset "UTF-8";
/*.questrial-regular {*/
/*    font-family: "Questrial", sans-serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: proxima;
    src: url('../fonts/proxima-nova/proximanova_bold.otf');
}

@font-face {
    font-family: circular;
    src: url('../fonts/CircularStd-Medium.otf');
}

html {
    scroll-behavior: smooth !important;
}

.videoText h1, .videoText p {
    font-family: proxima !important;
}

body, h1, h2, h3, h4, h5, h6, a, p, span, label, input {
    font-family: "Questrial", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.btnCart {
    display: block !important;
    padding: 15px;
    border: 1px solid #999;
    font-size: 16px;
    border-radius: 50px !important;
    background: transparent;
    width: 90% !important;
    margin: auto;
    transition: 0.2s;
    letter-spacing: 1px;
}

.btnCart:hover {
    box-shadow: 0 0 0 1px black;
    cursor: pointer;
}

.footer .widget-body li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
}

.footer .widget-body li a:hover {
    text-decoration: underline;
}

.saleBadge {
    position: absolute;
    top: 10px;
    left: 20px;
    background: #D9C12F;
    color: #000;
    z-index: 9;
    display: inline-block;
    padding: 3px 10px;
}

.saleBadge-2 {
    background: #D9C12F;
    color: #000;
    display: inline-block;
    padding: 3px 15px;
}

.newsletterForm {
    display: flex;
    position: relative;
}

.newsletterForm input {
    width: 100%;
    padding: 15px;
    font-size: 17px;
    border-radius: 30px;
    border: 2px solid #999;
    background: transparent;
    color: #fff;
}

.newsletterForm input:focus {
    border: 2px solid #FFF;
}

.newsletterForm button {
    width: 30px;
    font-size: 17px;
    border: none;
    position: absolute;
    right: 1%;
    top: 15px;
    background: transparent;
    color: #fff;
}

body.arabic .newsletterForm button {
    right: 89% !important;
}

#navbar-header {
    transition: transform 300ms;
}

#navbar-header.hide {
    transform: translateY(-160px);
}

@media only screen and (max-width: 600px) {
    #navbar-header.hide {
        transform: translateY(-60px);
    }

    .checkout-header {
        padding: 13px !important;
    }

    body.arabic .product.product-cart .btn-close {
        right: 24.6rem !important;
    }
}

/*--------------------------*/
.qty-container {
    display: flex;
    direction: ltr;
}

body.arabic .qty-container {
    direction: rtl !important;
}

body.arabic .qty-container .qty-btn-plus {
    border-right: none !important;
    border-left: 1px solid #000 !important;
}

body.arabic .qty-container .qty-btn-minus {
    border-left: none !important;
    border-right: 1px solid #000 !important;
}

.qty-container .input-qty {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #000;
    max-width: 45px;
    border-left: none;
    border-right: none;
}

.qty-container .qty-btn-plus {
    border: 1px solid #000;
    font-size: 12px;
    height: 45px;
    width: 38px;
    transition: 0.3s;
    cursor: pointer;
    background: transparent;
    border-left: none;
}

.qty-container .qty-btn-minus {
    border: 1px solid #000;
    font-size: 12px;
    height: 45px;
    width: 38px;
    transition: 0.3s;
    cursor: pointer;
    background: transparent;
    border-right: none;
}

.qty-container .qty-btn-plus {
    margin-left: -1px;
    border-radius: 0;
}

.qty-container .qty-btn-minus {
    margin-right: -1px;
    border-radius: 0;
}

/*checkout css*/
.checkout-header {
    padding: 23px;
    border-bottom: 1px solid #dfdfdf;
}

.checkout-body {
    display: flex;
}

.checkout-right {
    width: 45%;
    top: 50px;
    position: sticky;
    height: 100vh;
}

.checkout-left {
    width: 55%;
}

.checkout-body .customText {
    width: 100%;
    padding: 15px;
    border: 2px solid #dfdfdf;
    transition: 0.5s;
    border-radius: 6px;
}

.cartCounter {
    background: #555;
    color: #fff;
    border-radius: 30px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    top: -5px;
    right: -5px;
    display: inline-block;
    width: 20px;
}

.checkout-body .customText:focus {
    border: 2px solid #000;
}

.cartSidebarFooter {
    position: absolute;
    bottom: 10px;
    width: 93%;
    margin: auto;
    background-color: #fff;
}

@media only screen and (max-width: 600px) {
    .product-single .owl-dots {
        display: block !important;
    }

    .cartSidebarFooter {
        bottom: 90px !important;
    }

    .checkout-body {
        display: grid;
        grid-template-columns: auto;
    }

    .checkout-left, .checkout-right {
        width: 100% !important;
    }

    .product-media img {
        height: 240px !important;
    }

    .cart-dropdown .product-media img {
        height: 100px !important;
    }

    .showPhotos .product-image img {
        height: 350px !important;
    }

    .intro-slide1 img {
        /*height: 280px !important;*/
    }

    .checkout-right {
        height: auto !important;
        margin-bottom: 30px;
    }

    .product.product-cart .btn-close {
        right: 6.6rem !important;
    }

    .intro-slide1 .banner-content {
        width: 300px !important;
    }

    .searchModalBody {
        padding: 10px !important;
    }

    .videoContainer .videoText {
        left: 0% !important;
        top: 40% !important;
        width: 100% !important;
    }

    .videoContainer .videoText h1 {
        font-size: 50px !important;
        line-height: 48px !important;
        text-align: left !important;
    }
    body.arabic .videoContainer .videoText h1 {
        text-align: right !important;
        direction:rtl !important;
    }

    .videoContainer .videoText p {
        font-size: 26px !important;
        font-weight: bold !important;
    }

    .customRadio img {
        height: 165px !important;
    }

    .categorySections .category {
        width: 240px !important;
    }
}


.faq {
    overflow: hidden;
    position: relative;
    transition: 0.3s ease;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #dfdfdf;
}


.faq-text {
    display: none;
    margin: 10px 0 0 10px;
    font-size: 17px;
}

.faq-title {
    font-size: 17px;
    cursor: pointer;
    font-weight: bold !important;
    margin-bottom: 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 30px;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.faq-toggle .fa-chevron-up,
.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle .fa-chevron-up {
    display: block;
}

.faq-toggle .fa-chevron-down {
    display: block;
}

.checkoutBtn {
    color: #000;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    background: rgb(217, 193, 47);
}

.checkoutBtn:hover {
    background: #BBA627
}

.checkoutBtn2 {
    color: #000;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    display: block;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    background: rgb(217, 193, 47);
}

.checkoutBtn2:hover {
    background: #BBA627;
    color: #000;

}

.owl-carousel,
.bx-wrapper {
    direction: ltr;
}

.owl-carousel .owl-item {
    direction: rtl;
}

.bg-transparent {
    background: transparent !important;
}

.searchModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999999;
    top: 0;
    left: 0;
}

.searchModalBody {
    position: fixed;
    width: 100%;
    padding: 30px;
    background: #fff;
    z-index: 999999999;
    top: 0;
    left: 0;
}

.cartModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 199999999;
    top: 0;
    left: 0;
}

.cartModalBody {
    position: fixed;
    width: 350px;
    padding: 15px;
    background: #fff;
    z-index: 1999999999;
    top: 0;
    transform: translate(400px, 0);
    height: 100vh;
    right: 0;
    transition: 0.5s;
}

.cartModalBody .cartModalHeader {
    display: flex;
    justify-content: space-between;
}

.cart-dropdown .products {
    height: 380px;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
}

.product-single .owl-dots {
    display: none;
}

.customShoppingCart {
    position: absolute;
    bottom: -10px;
    left: unset;
    right: 10px;
    background: white;
    padding: 10px;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 5px 5px #99999952;
    z-index: 9;
    transition: 0.5s;
}

.customShoppingCart:active {
    background: #d9c12f;
    zoom: 0.9;
}

.customShoppingCart:hover {
    background: #d9c12f;
}

.customShoppingCart .cartIcon {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
}

.showHiddenColor {
    cursor: pointer;
}

.videoContainer {
    position: relative;
}

.videoText h1 {
    display: none;
}

.videoText .frame1 {
    display: block;
}

.videoContainer .videoText {
    position: absolute;
    left: 0px;
    bottom: 40%;
    width: 100%;
    padding: 22px 24px;
    z-index: 1;
}

.videoContainer .videoText h1 {
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    font-family: "circular", sans-serif !important;
    margin-bottom: 0;
    text-transform: capitalize;
    line-height: 79px;
    letter-spacing: -1.36;
    text-align: center;
}

.videoContainer .videoText h1 a {
    display: inline-block;
    margin: auto;
    border-radius: 30px;
    text-transform: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 140px;
    text-align: center;
}


.videoContainer .videoText p {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.videoContainer .videoText b {
    font-family: system-ui;
}

.videoContainer .customDivider {
    display: inline-block;
    height: 5px;
    width: 120px;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

body.arabic .product-gallery .owl-theme .owl-nav .owl-prev,
body.arabic .categorySections .owl-theme .owl-nav .owl-prev {
    right: 10px !important;
    left: unset !important;
    color: #000 !important;
}

body.arabic .product-gallery .owl-theme .owl-nav .owl-next,
body.arabic .categorySections .owl-theme .owl-nav .owl-next {
    left: 10px !important;
    right: unset !important;
    color: #000 !important;
}

.product-gallery .owl-theme .owl-nav .owl-prev,
.categorySections .owl-theme .owl-nav .owl-prev {
    left: 10px;
    zoom: 1.1;
    background-color: #d9c12f;
    color: #000 !important;
}

.product-gallery .owl-theme .owl-nav .owl-next,
.categorySections .owl-theme .owl-nav .owl-next {
    right: 10px;
    zoom: 1.1;
    background-color: #d9c12f;
    color: #000 !important;
}

.product-gallery .owl-theme .owl-nav .owl-prev.disabled,
.product-gallery .owl-theme .owl-nav .owl-next.disabled,
.categorySections .owl-theme .owl-nav .owl-prev.disabled,
.categorySections .owl-theme .owl-nav .owl-next.disabled {
    background-color: #dfdfdf;
    color: #000 !important;
}

img {
    pointer-events: none; /* for android */
    -webkit-touch-callout: none; /* for ios */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -html-user-select: none;
    -khtml-user-select: none;
}

.customize-design {
    /*padding: 15px;*/
}

.customize-design .step-item {
    margin-bottom: 40px;
}

.customize-design .step-item h5, .title-popup {
    font-weight: bold !important;
    border-bottom: 1px solid #917c7c;
    color: #e9d552;
    padding: 5px;
    font-size: 16px;
    background: #000;
    position: relative;
    border-radius: 5px;
}

.customize-design .step-item h5 img.arrow, .title-popup img {
    width: 25px;
    margin-left: 10px;
    margin-top: 10px;
    /*position: absolute;*/
    /*bottom: -13px;*/
    /*right: 185px;*/
}

.customize-design .step-item h5 img.thumb-icon {
    width: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

body.arabic .customize-design .step-item h5 img, body.arabic .title-popup img {
    transform: rotateY(180deg) !important;
}

.customize-design .step-item label {
    font-weight: 600 !important;
    color: #333;
}

.customize-design .step-item select, .customize-design .step-item input[type='text'], .customize-design .step-item input[type='email'], .customize-design .step-item input[type='tel'] {
    border: 1px solid #434040;
    background: #e9d552;
    color: #000;
    border-radius: 4px !important;
    padding-left: 5px !important;
}

/* >> Drop-zone start*/
.drop-zone {
    width: 100%;
    height: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
    border: 3px dashed rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background: rgb(0 0 0 / 63%);
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/* >> Drop zone END*/

/*Range slider start*/
.range-item {
    position: relative;
}

.range-item:not(:last-child) {
    margin-bottom: 24px;
}

.range-item .range-input {
    margin-top: 6px;
}

.range-item .range-input input {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.range-item ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: calc(100% + 34.4px);
    margin: 0 -17px;
}

.range-item ul .list-inline-item:not(:last-child) {
    margin-right: 0;
}

.range-item ul .list-inline-item span {
    position: relative;
    min-width: 58px;
    text-align: center;
    display: block;
    font-size: 16px;
    padding-top: 4px;
    word-break: break-word;
    color: #000;
}

.range-item .range-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: calc(100% - 14px);
    background-color: #ddd;
    z-index: 0;
    margin: 0 7px;
    border-radius: 50px;
    overflow: hidden;
}

.range-item .range-input.disable-range + ul .list-inline-item span::before {
    background-color: #b1b1b1;
}

.range-item .range-input.disable-range .range-line .active-line {
    background-color: #b1b1b1;
}

.range-item .range-input.disable-range + ul .list-inline-item.active span::before {
    background-color: #777777;
}

.range-item .range-input .dot-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 24px);
    left: 0;
    z-index: 1;
}

.range-item .range-input .active-dot {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    background-color: #ddd;
    height: 24px;
    width: 24px;
    border: 4px solid #000;
    z-index: 11;
    left: 0%;
    border-radius: 50%;
}

.range-item .range-input .range-line .active-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    transition: all 0.1s ease;
}

.range-item ul {
    list-style: none;
    color: black;
}

.range-item .form-range {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.range-item ul .list-inline-item span::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #696969;
}

.range-item ul .list-inline-item.active span::before {
    background-color: white;
}

.range-item .range-input input:disabled ~ .dot-line .active-dot {
    background-color: #d9d9d9;
    border: 4px solid #b1b1b1;
}

.range-item input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: #0000;
    height: 15px;
    width: 15px;
    border: 4px solid #0000;
    z-index: 11;
    box-shadow: none;
}

.range-item input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: #0000;
    height: 24px;
    width: 24px;
    border: 4px solid #0000;
    box-shadow: none;
    z-index: 11;
}

.range-item input[type="range"]::-webkit-slider-runnable-track {
    background-color: #f0f0f000;
}

.range-item input[type="range"]::-moz-range-progress {
    background-color: #f0f0f000;
}

.range-item input[type="range"]::-ms-track {
    background-color: #f0f0f000;
}

.range-item input[type="range"]::-moz-range-track {
    background-color: #f0f0f000;
}

/* IE*/
.range-item input[type="range"]::-ms-fill-lower {
    background-color: #f0f0f000;
}

.range-item input[type="range"]::-ms-fill-upper {
    background-color: #f0f0f000;
}

.range-item input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: none !important;
    background-color: #f0f0f000;
}

.range-item input[type="range"]:focus::-moz-range-thumb {
    box-shadow: none !important;
    background-color: #f0f0f000;
}

.range-item input[type="range"]:focus::-ms-thumb {
    background-color: #f0f0f000;
    box-shadow: none !important;
}

.range-item input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: #0000;
    border: 4px solid #0000;
}

.range-item input[type="range"]:disabled::-moz-range-thumb {
    background-color: #0000;
    border: 4px solid #0000;
}

/*Range slider end*/

/*Divider start*/

.astrodivider {
    margin: 50px auto 30px;
    max-width: 100%;
    position: relative;
}

.astrodividermask {
    overflow: hidden;
    height: 20px;
}

.astrodividermask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px #555;
}

.astrodivider span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #555;
    color: #000;
    background: #e9d552;
}

.astrodivider i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    font-size: 20px;
    border-radius: 100%;
    border: 1px dashed #555;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #000;
}

/*Divider end*/

/*custom radio with product image start*/

.customRadio input[type="radio"][id^="cb"] {
    display: none;
}

.customRadio label {
    border: 1px solid #000;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.customRadio label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.customRadio label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.customRadio :checked + label {
    border-color: #2e990b;
}

.customRadio :checked + label:before {
    content: "✓";
    background-color: #2e990b;
    transform: scale(1);
}

.customRadio :checked + label img {
    transform: scale(0.94);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

/*custom radio with product image end*/
.custom-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
    backdrop-filter: blur(10px);
}

.custom-modal .modal-content {
    background-color: #FFF;
    width: 100%;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    border-radius: 0px;
    border: 0px solid #fcfcfc;
    padding: 15px;
    height: 600px;
    overflow: auto;
}

.custom-modal .modal-close {
    font-size: 20px;
    float: right;
    font-weight: 700;
    color: #000;
    font-size: 25px;
    margin-top: -10px;
    transition: all .2s;
    cursor: pointer;
    width: auto;
}

.custom-modal .modal-close:hover {
    color: #3b3b3b;
}

body.modal-open {
    overflow: hidden !important;
}

/*custom modal*/

.colourGroup span.selected {
    position: relative;
}

.colourGroup span.selected::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background: black;
    bottom: -10px;
    left: 7px;
}

.categorySections .category {
    width: 300px;
}

.categorySection .category i {
    color: #e9d552;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.2);
}

.categorySection .category h6 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: 600 !important;
    margin-bottom: 0;
    margin-top: -20px;
}

.categorySection .category span {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 6px;
    font-weight: bold !important;
    color: #000;
}

#google_translate_element {
    width: 300px;
    float: right;
    text-align: right;
    display: block
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}

#goog-gt-tt {
    display: none !important;
    top: 0px !important;
}

.goog-tooltip skiptranslate {
    display: none !important;
    top: 0px !important;
}

.activity-root {
    display: none !important;
}

.status-message {
    display: none !important;
}

.started-activity-container {
    display: none !important;
}

body.arabic .faq-toggle {
    top: 10px !important;
    right: 95% !important;
}

body.arabic .customShoppingCart {
    left: 10px !important;
    padding: 10px 7px !important;
    right: unset;
}

.arabicText {
    display: none;
}

body.arabic .mobile-menu-container {
    transform: translate(0, -296px);
}

body.arabic .mobile-menu-container {
    transform: translate(0, 0px);
}

.searchBtn {
    right: 15px;
    top: 15px
}

body.arabic .searchBtn {
    left: 15px;
    top: 15px;
    right: unset;
}

body.arabic .cartModalBody {
    left: 0;
    right: unset;
}

body.arabic .off-canvas.opened .dropdown-box {
    left: 0;
    right: unset;
}

body.arabic .cartModalBody {
    transform: translate(-400px, 0);
}

.modalPrice {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 18px;
    color: #000
}

body.arabic .modalPrice {
    position: absolute;
    left: 0;
    right: unset;
    top: 0;
    line-height: 18px;
    color: #000
}

.customModalCloseBtn {
    background: #000;
    padding: 12px 30px !important;
    color: #fff !important;
    margin-top: 10px;
    display: inline-block;
}

.description * {
    font-size: 18px !important;
}

.arabicContent * {
    font-size: 22px !important
}

.englishText {
    direction: ltr !important;
}

body.arabic .product.product-cart .btn-close {
    right: 24.6rem !important;
}